customer-db/src/main/mule/customer-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e610d146-be65-423b-8746-3bfefd055f9f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Postgres_DB_Config" doc:name="Database Config" doc:id="10dac014-67f0-47bb-b018-889fcaa19c3f" >
		<db:generic-connection url="jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?user=postgres.kefimsoytafsjlzugnms&amp;password=s8bqRS2xT3Bb3JEQ" driverClassName="org.postgresql.Driver" user="postgres.kefimsoytafsjlzugnms" password="s8bqRS2xT3Bb3JEQ" />
	</db:config>
	<flow name="get-customers" doc:id="68c64016-c8f9-4f47-83d1-eb05fed37bc1" >
		<http:listener doc:name="getCustomers" doc:id="3f5f91bf-81c8-4d41-8c00-daa2c9a0e83a" path="/customers" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="7ab94f5e-0871-407b-a74e-c7edb96a887e" config-ref="Postgres_DB_Config">
			<db:sql ><![CDATA[SELECT * FROM customers;]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="20392337-c6a5-4e94-ac24-20fe07fcfee9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
